:80 {
  respond "Caddy is running" 200
}

ntfy.home.arpa {
  reverse_proxy ntfy:80
  tls internal
}

jellyfin.home.arpa {
  reverse_proxy jellyfin:8096
  tls internal
}

kuma.home.arpa {
  reverse_proxy uptime-kuma:3001
  tls internal
}

requests.home.arpa {
  reverse_proxy jellyseerr:5055
  tls internal
}
